/* {} */

*{
    margin: 0;
    padding: 50px 20px;
}

body {  background-color: #131313; }

.reveal {
    position: relative;
    transform: translateY(144px);
    opacity: 0;
    transition: 1s all ease;
    background-color: #454545;
    border-radius: 10px;
    color: #fff;
   
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

p { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
 }

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}